.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-weight: bolder;
}

.navbar-brand .dev {
    color: #e38b06;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: 15px;
}