.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-weight: bolder;
}

.navbar-brand .dev {
    color: #e38b06;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: 15px;
}

.active-link {
    color: #e38b06 !important;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: black;
}

.devChar {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}