<div class="container">
  <div class="image-container">
    <img src="assets/desk.png" alt="A descriptive alternative text" />
  </div>
  <div class="text-container">
    <h5 class="aboutme">About Me</h5>
    <p class="title">
      A dedicated Software Developer ready for the next challenge.
    </p>
    <p class="description">
      With over four years of experience as a software developer, I have
      acquired a robust skill set and extensive knowledge across a range of
      technologies. My expertise primarily lies in mobile applications and web
      development, where I have developed proficiency in .NET Xamarin.Forms, C#,
      SQL, HTML, CSS, and Angular. My experience in cutting-edge development
      environments has equipped me with a solid understanding of crucial
      contemporary technologies and methodologies. This includes proficiency in
      Git for version control and collaboration, as well as familiarity with
      Agile, Kanban, and Scrum development methodologies. Additionally, I have
      experience with Azure DevOps. I am a committed team player with a
      relentless drive to absorb new knowledge and skills.
    </p>
  </div>
</div>
