<div class="project-container">
  <div class="image-container">
    <img [src]="imageUrl" alt="Project Image" />
  </div>
  <div class="info-container">
    <h2 class="project-title">{{ title }}</h2>
    <app-chip-bar
      *ngIf="chipItems && chipItems.length"
      [items]="chipItems"
    ></app-chip-bar>
    <p class="project-description">{{ description }}</p>
    <div class="button-container">
      <a
        *ngIf="demoLink && demoLink.trim()"
        [href]="demoLink"
        target="_blank"
        class="demo-button"
        >Visit Live</a
      >
      <a
        *ngIf="githubLink && githubLink.trim()"
        [href]="githubLink"
        target="_blank"
        class="github-button"
        >GitHub</a
      >
      <a *ngIf="detailsLink" [routerLink]="detailsLink" class="details-button">
        Learn More
      </a>
    </div>
  </div>
</div>
