.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* Adjust the height as needed */
    padding: 20px;
}

.content {
    text-align: left;
    margin-right: 20px;
}

.profile-image img {
    height: 100%;
    /* Adjust based on the actual size of your text block */
    width: auto;
}

.footer-icons {
    position: absolute;
    bottom: 20px;
    /* Adjust as needed */
    width: 100%;
    display: flex;
    justify-content: center;
    /* This will center the icons in the footer */
}

.footer-icons img {
    margin: 0 10px;
    /* Spacing between icons */
}