/* Container setup */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* Ensure the container takes the full viewport height */
    padding-top: 60px;
    padding-bottom: 100px;
    /* Add bottom padding to accommodate footer */
    box-sizing: border-box;
    vertical-align: top;
}

/* Content area */
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    vertical-align: top;
    flex: 1;
    /* Allow the content area to grow and shrink as necessary */
}

.text-content {
    text-align: center;
    margin-bottom: 20px;
}

.text-content h1,
.text-content p {
    word-wrap: break-word;
    line-break: strict;
    white-space: normal;
    max-width: 450px;
    transition: transform 0.4s ease;
}

.profile-image {
    display: flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
    /* Reduced margin-bottom */
}

.profile-image img {
    max-height: 100%;
    width: auto;
    transition: transform 0.4s ease;
    border-radius: 50%;
}

.quote-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    /* Increase padding */
    margin-bottom: 60px;
    /* Add margin to accommodate footer */
    z-index: 1001;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.text-content h1:hover,
.text-content p:hover,
.profile-image img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .home-container {
        padding-top: 60px;
        padding-bottom: 100px;
        box-sizing: border-box;
    }

    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-content {
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text-content,
    .profile-image {
        max-width: 100%;
    }

    .profile-image img {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }
}