<div class="home-container">
  <div class="content">
    <div class="text-content">
      <h1>Software Developer</h1>
      <p>
        Hi, I'm Enrique, a dedicated Software Developer based on Southern
        California. Explore my projects and professional journey here!
      </p>
    </div>
    <div class="profile-image">
      <img
        src="https://media.licdn.com/dms/image/C5603AQEi-zDYscAL_g/profile-displayphoto-shrink_400_400/0/1557439885130?e=1720656000&v=beta&t=3eA8_j1RjOk1EOoG0-msc-NSLcY_tcymqxL6Dnl_CKw"
        alt="Profile Image"
      />
    </div>
  </div>
  <div class="quote-section">
    <app-quote></app-quote>
  </div>
  <app-footer></app-footer>
</div>
