<!-- footer.component.html -->
<div class="footer-section">
  <h2 class="footer-description">My tech stack:</h2>
  <div class="footer-icons">
    <div class="icon-container">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMnC2GlTGn21FJi7NMFRyWy-bVZc5WsrT3nd8q0harxQ&s"
        alt="Icon 1"
      />
      <div class="popover">Xamarin.Forms</div>
    </div>
    <div class="icon-container">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/1024px-.NET_Core_Logo.svg.png"
        alt="Icon 2"
      />
      <div class="popover">.NET framework</div>
    </div>
    <div class="icon-container">
      <img
        src="https://db.cs.uni-tuebingen.de/teaching/ws2223/sql-is-a-programming-language/logo.svg"
        alt="Icon 3"
      />
      <div class="popover">SQL</div>
    </div>
    <div class="icon-container">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
        alt="Icon 4"
      />
      <div class="popover">Angular</div>
    </div>
    <div class="icon-container">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/2048px-Git_icon.svg.png"
        alt="Icon 5"
      />
      <div class="popover">GIT version control</div>
    </div>
    <div class="icon-container">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Flutter_logo.svg/2048px-Flutter_logo.svg.png"
        alt="Icon 6"
      />
      <div class="popover">Flutter</div>
    </div>
  </div>
</div>
