.project-wrapper {
    margin: 20px;
    /* Keep larger margin for desktop */
    display: flex;
    justify-content: center;
    align-items: center;
}

app-project {
    flex: 0 1 auto;
    width: 70%;
    /* Suitable for desktop but might be too narrow for mobile */
    margin: 10px;
    /* Margin between project components */
}

/* Responsive adjustments for mobile devices */
@media (max-width: 576px) {
    .project-wrapper {
        margin: 10px;
        /* Smaller margin for mobile */
    }

    app-project {
        width: 90%;
        /* Increase width for mobile to use more space */
        margin: 5px;
        /* Reduce margin to make more room for content */
    }
}

/* Styles for the Toggle component container */
app-toggle {
    display: block;
    margin: 20px auto;
    max-width: 40%;
    /* Adjusted below for mobile */
    border-radius: 25px;
    overflow: hidden;
}

app-toggle .toggle-button.selected {
    background-color: #e38b06;
}

/* Adjustments for smaller desktop screens */
@media (max-width: 992px) {

    /* Targeting smaller desktop screens */
    app-toggle {
        max-width: 60%;
        /* Increase max-width for smaller desktops */
        margin: 10px auto;
        /* Reduce margin */
    }

    app-toggle .toggle-button {
        padding: 8px 10px;
        /* Adjust padding to save space */
        font-size: 14px;
        /* Adjust font size to fit smaller widths */
    }
}

/* Mobile adjustments for the toggle component */
@media (max-width: 576px) {
    app-toggle {
        max-width: 40%;
        /* Increase maximum width on mobile */
        margin: 10px auto;
        /* Reduce margin */
    }
}