<div class="details-container">
  <h1 class="title">Health Web App</h1>
  <ul class="bullet-points">
      <li>
          <span class="bullet-title">Technologies used:</span>
          <span class="bullet-description">Angular, HTML and CSS</span>
      </li>
      <li>
        <span class="bullet-title">Features:</span>
        <span class="bullet-description">Responsive, API integration, PDF generation, reusable and scalable</span>
      </li>
      <li>
        <span class="bullet-title">Backend:</span>
        <span class="bullet-description">Custom made Health Web API specifically for this project</span>
      </li>
  </ul>
  <div class="content-container">
    <img src="assets/HWA/HWA_Home.png" alt="Health App Image" class="details-image">
    <div class="text-block">
      <p class="section-title">Dashboard</p>
      <p class="description">
        All your relevant information summarized upon login. Daily meals tracker, body weight progression and daily macros broken down based on the entered meals.
      </p>
    </div>
  </div>
  <div class="content-container reverse">
    <div class="text-block">
      <p class="section-title">Meals and Ingredients module</p>
      <p class="description">
        Search for hundres of ingredients online thanks to the NINJA API integration or create your own ingredients. Create meals and incorportate your newly create foods to them. And keep track of your daily consumption!
      </p>
      <p class="description">
        Create meals and incorportate your newly create foods to them. And keep track of your daily consumption!
      </p>
      <p class="description">
        And keep track of your daily consumption!
      </p>
    </div>
    <img src="assets/HWA/MealsSummary.png" alt="Meal Tracker Image" class="details-image">
  </div>
  <div class="content-container">
    <img src="assets/HWA/Graphs.png" alt="Health App Image" class="details-image">
    <div class="text-block">
      <p class="section-title">Graph summaries</p>
      <p class="description">
        Modern and intuitive graphs to have all your relevant information at a quick glance.
      </p>
    </div>
  </div>
  <!-- Card carousel will be implemented here -->
</div>
