<div class="details-container observed">
  <h1 class="title observed" @fadeIn>Health Web App</h1>
  <ul class="bullet-points observed" @fadeIn>
    <li>
      <span class="bullet-title">Technologies used:</span>
      <span class="bullet-description">Angular, HTML and CSS</span>
    </li>
    <li>
      <span class="bullet-title">Features:</span>
      <span class="bullet-description">Responsive, API integration, PDF generation, reusable and scalable</span>
    </li>
    <li>
      <span class="bullet-title">Backend:</span>
      <span class="bullet-description">Custom made Health Web API specifically for this project</span>
    </li>
  </ul>

  <!-- Card components side by side -->
  <div class="card-container observed" @fadeIn>
    <app-custom-card
      *ngFor="let card of cards; let i = index"
      [title]="card.title"
      [imageUrl]="card.imageUrl"
      [description]="card.description"
      [buttonText]="card.buttonText"
      [link]="card.link || ''"
      [fileUrl]="card.fileUrl || ''"
      [@fadeIn]="{ value: '', params: { delay: i * 200 } }"
    ></app-custom-card>
  </div>

  <p class="description observed" @fadeIn>
    This project exemplifies my knowledge of the entire SDLC cycle. Along with the API this angular website constitutes a Full Stack full scope project. I have based my efforts in applying modern design patterns, coding, naming and organizing conventions. I have also taken into consideration the UI/UX face of web projects making not only an easy on the eyes web but also very intuitive.
  </p>

  <div class="content-container observed" @fadeIn>
    <img src="assets/HWA/HWA_Home.png" alt="Health App Image" class="details-image">
    <div class="text-block">
      <p class="section-title">Dashboard</p>
      <p class="description">
        All your relevant information summarized upon login. Daily meals tracker, body weight progression and daily macros broken down based on the entered meals.
      </p>
    </div>
  </div>

  <div class="content-container observed" @fadeIn>
    <div class="text-block">
      <p class="section-title">Meals and Ingredients module</p>
      <p class="description">
        Search for hundreds of ingredients online thanks to the NINJA API integration or create your own ingredients. Create meals and incorporate your newly created foods to them. And keep track of your daily consumption!
      </p>
      <p class="description">
        Create meals and incorporate your newly created foods to them. And keep track of your daily consumption!
      </p>
      <p class="description">
        And keep track of your daily consumption!
      </p>
    </div>
    <img src="assets/HWA/MealsSummary.png" alt="Meal Tracker Image" class="details-image">
  </div>

  <div class="content-container observed" @fadeIn>
    <img src="assets/HWA/Graphs.png" alt="Health App Image" class="details-image">
    <div class="text-block">
      <p class="section-title">Graph summaries</p>
      <p class="description">
        Modern and intuitive graphs to have all your relevant information at a quick glance.
      </p>
    </div>
  </div>

  <div class="content-container observed" @fadeIn>
    <div class="text-block">
      <p class="section-title">Workouts module</p>
      <p class="description">
        Create your exercises sets and reps. Add descriptions, instructions and other details!
      </p>
      <p class="description">
        Create workouts and add exercises to them.
      </p>
      <p class="description">
        Use your new workouts throughout the rest of the app to create schedules or save them as PDFs.
      </p>
    </div>
    <img src="assets/HWA/workouts.png" alt="Workout Module Image" class="details-image">
  </div>
</div>
