<div class="title">
  <p>My experience:</p>
</div>
<div class="timeline">
  <div class="container left-container">
    <img src="assets/csusm.png" alt="csusm" />
    <div class="text-box">
      <h2>California State University San Marcos</h2>
      <h4>Bachelor of Science in Computer Science</h4>
      <p class="date">2015 - 2019</p>
    </div>
  </div>
  <div class="container right-container">
    <img src="assets/viasat.png" alt="viasat" />
    <div class="text-box">
      <h2>Capstone Project</h2>
      <h4>Viasat QA Mobile app and Backend</h4>
      <p class="date">2019</p>
      <p class="description">
        Created both a mobile app and it's backend for Viasat. Used
        Xamarin.Forms, Node.js, MongoDB among other technologies. Learn more
        here.
      </p>
    </div>
  </div>
  <div class="container left-container">
    <img src="assets/vincle.png" alt="vincle" />
    <div class="text-box">
      <h2>Vincle International</h2>
      <h4>Junior Software Developer</h4>
      <p class="date">2020 - 2024</p>
      <p class="description">
        Software developer in the mobile applications department.
      </p>
    </div>
  </div>
  <div class="container right-container">
    <div class="text-box">
      <h2>Vincle For Sales 2</h2>
      <h4>MVC Mobile application</h4>
      <p class="date">2020 - 2024</p>
      <p class="description">
        A Xamarin.Forms cross-platform CRM/SFA mobile app. Learn more here.
      </p>
    </div>
  </div>
  <div class="container right-container">
    <div class="text-box">
      <h2>B2B App</h2>
      <h4>MVVM Mobile application</h4>
      <p class="date">2020 - 2024</p>
      <p class="description">
        A Xamarin.Forms cross-platform B2B shopping mobile app. Learn more here.
      </p>
    </div>
  </div>
  <div class="container left-container">
    <img src="assets/dataannotation.png" alt="dataannotation" />
    <div class="text-box">
      <h2>Data Annotation</h2>
      <h4>Software Developer - AI Model trainer</h4>
      <p class="date">Present</p>
      <p class="description">
        Working as a contractor on Data Annotation on multiple projects.
      </p>
    </div>
  </div>
</div>
