.popover {
    position: absolute;
    background-color: #fff;
    color: #333;
    padding: 15px 20px;
    /* top/bottom 15px, left/right 20px */
    border-radius: 25px;
    border: 1px solid #666;
    font-size: 12px;
    white-space: initial;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
    transform: translateY(-90px);
    z-index: 10;
    /* Ensure it is on top */
}

.popover.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(-500);
}