<div class="toggle-bar">
  <!-- <button
    class="toggle-button"
    [class.selected]="selected === 'mobile'"
    (click)="select('mobile')"
  >
    Mobile applications
  </button>-->
  <button
    class="toggle-button"
    [class.selected]="selected === 'web'"
    (click)="select('web')"
  >
    Websites
  </button>
  <button
    class="toggle-button"
    [class.selected]="selected === 'backend'"
    (click)="select('backend')"
  >
    Backend, services & APIs
  </button>
  <button
    class="toggle-button"
    [class.selected]="selected === 'other'"
    (click)="select('other')"
  >
    Other programs
  </button>
</div>
